@using System.Security.Claims;

@{
    ViewData["Title"] = "_TopBarPartial";

    var claimsIdentity = User.Identity as ClaimsIdentity;
    string nome = "";
    int idUsuario = 0;

    if (claimsIdentity != null)
    {
        idUsuario = int.Parse(claimsIdentity.Claims.Where(s => s.Type == ClaimTypes.SerialNumber).Select(s => s.Value).FirstOrDefault());
        nome = claimsIdentity.Claims.Where(s => s.Type == ClaimTypes.NameIdentifier).Select(s => s.Value).FirstOrDefault();
    }
}

<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="https://99181-282044-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2016/05/icon-user-default.png" alt="">@nome
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <!--
    <li><a href="@Url.Action("Editar", "Usuario", new { id = idUsuario })"> Meus Dados </a></li>
    <li>
        <a href="javascript:;">
            <span class="badge bg-red pull-right">50%</span>
            <span>Configurações</span>
        </a>
    </li>
        -->
                        <li><a href="@Url.Action("Logout", "Login")"><i class="fa fa-sign-out pull-right"></i> Sair </a></li>
                    </ul>
                </li>

                <!--
    <li role="presentation" class="dropdown">
        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <span class="badge bg-green">1</span>
        </a>
        <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
            <li>
                <a>
                    <span class="image"><img src="https://99181-282044-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2016/05/icon-user-default.png" alt="Profile Image"></span>
                    <span>
                        <span>Gabriel Santana</span>
                        <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                        Exemplo de notificação.
                    </span>
                </a>
            </li>
            <li>
                <div class="text-center">
                    <a>
                        <strong>Ver todos alertas</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </li>
        </ul>
    </li>
        -->
            </ul>
        </nav>
    </div>
</div>