
@{
    ViewData["Title"] = "_TopBarPartial";
}

<nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" asp-controller="Home">
        <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" style="margin-right:4%" width="30" height="30" class="d-inline-block align-top" alt="">
        Quero Transporte
    </a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sair</a>
        </li>
    </ul>
</nav>