
@{
    ViewData["Title"] = "AcessoNegado";
}



<div class="x_content">
    <div align="center">
        <img src="~/images/acessoNegado.jpg" alt="Acesso Negado!!" style="width:45%; height:45%"/>
        <div>
            <h1>Acesso Negado!!</h1>
        </div>
    </div>
</div>