@model Model.ViewModel.MotoristaUsuarioViewModel

@{
    ViewData["Title"] = "Detalhes Motorista";
}

<h2>Detalhes</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Usuario.Nome" class="control-label"></label>
            <input asp-for="Usuario.Nome" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Motorista.Categoria" class="control-label"></label>
            <input asp-for="Motorista.Categoria" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label class="control-label">@Html.DisplayNameFor(model => model.Motorista.Validade)</label>
            <input class="form-control" value="@Html.DisplayFor(model => model.Motorista.Validade)" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Motorista.Cnh" class="control-label"></label>
            <input asp-for="Motorista.Cnh" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Usuario.Telefone" class="control-label"></label>
            <input asp-for="Usuario.Telefone" class="form-control" readonly />
        </div>
        <div class="form-group">
            <a href="@Url.Action("Edit", "Motorista", new { id = Model.Motorista.Id })" class="btn btn-info"><i class="fa fa-pencil"></i> Editar </a>
            <a class="btn btn-default" asp-action="Index">Voltar</a>
        </div>
    </div>
</div>