@model QueroTransporte.Model.ConsumivelVeicularModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ConsumivelVeicularModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdVeiculo" class="control-label"></label>
                <input asp-for="IdVeiculo" class="form-control" />
                <span asp-validation-for="IdVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDespesa" class="control-label"></label>
                <input asp-for="DataDespesa" class="form-control" />
                <span asp-validation-for="DataDespesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

