@model QueroTransporte.Model.VeiculoModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Remoção</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">@Html.DisplayNameFor(model => model.IdFrota) </label>
            <input class="form-control" value="@ViewBag.TituloFrota" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Placa" class="control-label"></label>
            <input asp-for="Placa" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Marca" class="control-label"></label>
            <input asp-for="Marca" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Modelo" class="control-label"></label>
            <input asp-for="Modelo" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Cor" class="control-label"></label>
            <input asp-for="Cor" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="AnoFabricacao" class="control-label"></label>
            <input asp-for="AnoFabricacao" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="AnoModelo" class="control-label"></label>
            <input asp-for="AnoModelo" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="DataEmplacamento" class="control-label"></label>
            <input asp-for="DataEmplacamento" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Chassi" class="control-label"></label>
            <input asp-for="Chassi" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Categoria" class="control-label"></label>
            <input asp-for="Categoria" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="Capacidade" class="control-label"></label>
            <input asp-for="Capacidade" class="form-control" readonly />
        </div>
        <form asp-action="Delete">
            <input type="submit" value="Remover" class="btn btn-success" />
            <a class="btn btn-danger" asp-action="Index">Cancelar</a>
        </form>
    </div>
</div>