
@{
    ViewData["Title"] = "HistoricoTransacoes";
}

<h2>Gráfico de Transacoes</h2>
<div id="piechart" style="width: 900px; height: 500px;"></div>

@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Deferidas', @ViewBag.deferidas],
                ['Indeferidas', @ViewBag.indeferidas]
            ]);

            var options = {
                title: 'Transações Realizadas'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>
}